/* ANA AYARLAR */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: rgb(251, 251, 251);
}
.all-content {
  padding: 50px;
  margin-top: 3%;
}
/* FORM,INPUTLAR */
.form-side {
  border-radius: 15px;
  border: none;
  background-color: #f7f2ed;
  text-transform: uppercase;
}
.main-title {
  font-size: 25px;
  color: #7f3131;
}
.label-txt {
  color: #af5c5c;
  font-weight: 500;
  width: 50%;
}

/* LİSTELEME, TABLE*/
.edit-side {
  border-radius: 15px;
  background-color: #f7f2ed;
}

.table-titles {
  font-size: 13px;
  color: #7f3131;
}
.productRow td {
  text-transform: uppercase;
  padding: 15px 0 0 25px;
  font-size: 13px;
  font-weight: 700;
  color: #af5c5c;
}

/* DÜZENLE BUTONUNA BASILDIĞINDA FOCUS OLUNACAK SATIR */
.productRow.focus {
  background-color: #d6d3c887;
  box-shadow: 0px 5px 10px 1px rgb(145, 143, 143);
}
/* ÜRÜN ADEDİ KUTUCUĞU */
.countBox {
  color: #7f3131;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-weight: 700;
  font-size: 13px;
}

/* BUTONLAR */
.btn {
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.btn:hover {
  transform: scale(1.2);
  color: rgb(57, 2, 2);
  background-color: #e2dcdc;
}
.btn-add {
  display: block;
  background-color: #9a5d5d;
}
.btn-add.hide {
  display: none;
}
.btn-clear {
  background-color: #d0bb5d;
}
.btn-edit {
  background-color: #95aca4;
}
.btn-delete {
  background-color: #d0bb5d;
}

/* KAYDET-GÜNCELLE BUTONLARI GÖZÜKME DURUMU */
#btnUpdate-table {
  display: none;
}
#btnUpdate-table.active {
  display: block;
  background-color: #95aca4;
  border: none;
  color: #fff;
}

/* ALERT GÖZÜKME/GÖZÜKMEME DURUMU */
.alert {
  margin-bottom: 50px;
}
.custom-hide {
  display: none;
}

/* RESPONSIVE AYARLARI */
@media screen and (max-width: 600px) {
  .main-title {
    font-size: 15px;
  }
  .all-content {
    padding: 20px;
    font-size: 13px;
  }
  .edit-side {
    margin-top: 20px;
  }
  .productRow {
    position: relative;
  }

  .productRow td {
    padding: 10px 50px 0 0;
  }
  .btn {
    font-size: 12px;
  }
  #btnDelete {
    position: absolute;
    left: 83%;
    width: min-content;
  }
  #btnUpdate {
    position: absolute;
    left: 70%;
    width: min-content;
  }
  .countBox {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .all-content {
    padding: 10px;
  }
  .productRow {
    position: relative;
  }
  .productRow td {
    padding: 10px 20px;
  }
  #btnDelete {
    padding: 2px;
    position: absolute;
    right: 5%;
    bottom: 1%;
  }
  #btnUpdate {
    padding: 2px;
    right: 13%;
    bottom: 1%;
    position: absolute;
  }
  .countBox {
    bottom: 10px;
  }
}
