<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table *ngFor="let user of userList" class="table mt-5">
        <thead>
          <tr>
            <th>ID:</th>
            <th>NAME:</th>
            <th>SURNAME:</th>
            <th>AGE:</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{ selected: highlightRow(user.id) }">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.age }}</td>

            <td>
              <button (click)="userDetail(user.id)">Kullanıcı detayları</button>
            </td>
         
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
