<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="frm" (ngSubmit)="save()">
        <div><h2>Kayıt</h2></div>
        <div class="mb-2">
          <label class="form-label">İsim :</label>
          <input formControlName="name" type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <label class="form-label">Price :</label>
          <input formControlName="price" type="number" class="form-control" />
        </div>

        <div class="mb-2">
          <label class="form-label">category :</label>
          <select formControlName="category" class="form-select">
            <option value="">Seçiniz</option>
            <option
              value="{{ category.id }}"
              *ngFor="let category of categoryMenuList"
            >
              {{ category.text }}
            </option>
          </select>
        </div>
        <div class="mb-2">
          <label class="form-label">Yayınlansın mı?:</label>
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="ispublish"
          />
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
      </form>

      <div *ngFor="let p of productList">
        <p>{{ p.name }}</p>
        <p>{{ p.price }}</p>
        <p>{{ p.category }}</p>
        <p>{{ p.publish }}</p>
      </div>
    </div>
  </div>
</div>
