<!-- <app-order-list></app-order-list> -->
<!-- <app-customer-list></app-customer-list> -->
<!-- <app-example-pipe></app-example-pipe>  -->
<!-- <app-inline></app-inline>
<app-normal></app-normal>
<app-structural-directive></app-structural-directive>
<app-example></app-example>
<h1>{{ name }}</h1>
<input type="text" value="{{ name }}" />
<input type="text" [value]="name" />
<input type="text" [value]="'abc'" />
<button (click)="change()">Değiştir</button> -->
<!-- <div appCustom>Custom directive</div> -->
<router-outlet></router-outlet>
