<app-header></app-header>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="list-group">
        <a
          routerLinkActive="active"
          routerLink="/anasayfa"
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          Home
        </a>
        <a
          routerLinkActive="active"
          routerLink="/hakkimizda"
          class="list-group-item list-group-item-action"
          >About</a
        >
        <a
          routerLinkActive="active"
          routerLink="/video"
          class="list-group-item list-group-item-action"
          >Gallery</a
        >
        <a
          routerLinkActive="active"
          routerLink="/iletisim"
          class="list-group-item list-group-item-action"
          >Contact</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
