<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="productForm" (ngSubmit)="save()">
        <div>
          <h3>Ürün kayıt</h3>
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input formControlName="email" type="text" class="form-control" />
        </div>
        <div class="form-text text-danger">
          <div *ngIf="isInvalid('email')">
            <div *ngIf="isInvalidControl('email', 'required')">
              email alanı gereklidir.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password:</label>
          <input formControlName="password" type="password" class="form-control" />
        </div>
        <div class="form-text text-danger">
          <div *ngIf="isInvalid('password')">
            <div *ngIf="isInvalidControl('password', 'required')">
              email alanı gereklidir.
            </div>
            <div *ngIf="isInvalidControl('password', 'passwordFormat')">
              ürün formatı doğru değil.
            </div>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isOkay"
          />
          <label class="form-check-label" for="exampleCheck1">Onayla</label>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
      </form>
    
    </div>
  </div>
</div>
