<ul>
  <li><a routerLink="/home">home</a></li>
  <li><a routerLink="/user-list">user list</a></li>
  <li><a routerLink="/user-create">user create</a></li>
  <li><a routerLink="/post/post-list">post list</a></li>
  <li><a routerLink="/post/post-create">post create</a></li>
</ul>
<app-ng-container-and-template></app-ng-container-and-template>
<button (click)="changeHeader()">header değiştir</button>
<app-user-list #c_userlist></app-user-list>
<h1 #header>Merhaba dünya</h1>
<router-outlet></router-outlet>
